In [266]:
import pandas as pd

In [267]:
df = pd.read_csv("outnow.csv")

In [268]:
df2 = pd.read_csv("fetchlaew.csv")

In [269]:
print(df2["title"].unique().size)
print(df2.shape[0])

1988
2006

In [270]:
df2 = df2.drop_duplicates(subset=['title'])

In [271]:
print(df2["title"].unique().size)
print(df2.shape[0])

1988
1988

In [272]:
dm = pd.get_dummies(df2['subjects'], dtype=int)
df = pd.concat([df2.drop(columns=['subjects']), dm], axis=1)

In [273]:
df.drop(columns=["Unnamed: 0"]).to_csv("extra1000")

### DF for tfidf

In [274]:
df = pd.read_csv("outnow.csv")
df2 = pd.read_csv("fetchnow.csv")

In [275]:
df2 = df2.drop(columns=['Unnamed: 0'])

In [276]:
df.shape

(16407, 37)

In [277]:
df2.shape

(1988, 29)

In [278]:
df['title_keywords'] = df['title'] + " " + df['keywords']
# Display the updated DataFrame with the new column

df[['title', 'keywords', 'title_keywords']].head()

,title,keywords,title_keywords
0,Reduction of algal wall-growth biofilm for the...,Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...,Reduction of algal wall-growth biofilm for the...
1,Dietary anthocyanins inhibit insulin fibril fo...,Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...,Dietary anthocyanins inhibit insulin fibril fo...
2,Metformin delivery via iontophoresis based on ...,Transdermal drug delivery;κ-Carrageenan;Metformin,Metformin delivery via iontophoresis based on ...
3,Experimental investigations of CO2 absorption ...,CO2 capture;CO2 absorption;Amine blends;Equili...,Experimental investigations of CO2 absorption ...
4,High-throughput screening of highly active and...,Single-atom catalysts;Tungsten diboride;Electr...,High-throughput screening of highly active and...

In [279]:
df2['title_keywords'] = df2['title']

In [280]:
df3 = pd.concat([df.drop(columns=['Unnamed: 0',]),df2])
df3 = df3.drop(columns=['Vector_0', 'Vector_1', 'Vector_2', 'Vector_3', 'Vector_4'])

In [281]:
df3.shape

(18395, 32)

In [282]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18395 entries, 0 to 1987
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           18395 non-null  object
 1   keywords        16407 non-null  object
 2   affiliation_id  16407 non-null  float64
 3   cited_by_count  18395 non-null  float64
 4   AGRI            18395 non-null  int64
 5   ARTS            18395 non-null  int64
 6   BIOC            18395 non-null  int64
 7   BUSI            18395 non-null  int64
 8   CENG            18395 non-null  int64
 9   CHEM            18395 non-null  int64
 10  COMP            18395 non-null  int64
 11  DECI            18395 non-null  int64
 12  DENT            18395 non-null  int64
 13  EART            18395 non-null  int64
 14  ECON            18395 non-null  int64
 15  ENER            18395 non-null  int64
 16  ENGI            18395 non-null  int64
 17  ENVI            18395 non-null  int64
 18  HEAL            18395 non-null  int64
 19  IMMU            18395 non-null  int64
 20  MATE            18395 non-null  int64
 21  MATH            18395 non-null  int64
 22  MEDI            18395 non-null  int64
 23  MULT            18395 non-null  int64
 24  NEUR            18395 non-null  int64
 25  NURS            18395 non-null  int64
 26  PHAR            18395 non-null  int64
 27  PHYS            18395 non-null  int64
 28  PSYC            18395 non-null  int64
 29  SOCI            18395 non-null  int64
 30  VETE            18395 non-null  int64
 31  title_keywords  18395 non-null  object
dtypes: float64(2), int64(27), object(3)
memory usage: 4.6+ MB

In [283]:
df3.info()
df3.tail()

<class 'pandas.core.frame.DataFrame'>
Index: 18395 entries, 0 to 1987
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           18395 non-null  object
 1   keywords        16407 non-null  object
 2   affiliation_id  16407 non-null  float64
 3   cited_by_count  18395 non-null  float64
 4   AGRI            18395 non-null  int64
 5   ARTS            18395 non-null  int64
 6   BIOC            18395 non-null  int64
 7   BUSI            18395 non-null  int64
 8   CENG            18395 non-null  int64
 9   CHEM            18395 non-null  int64
 10  COMP            18395 non-null  int64
 11  DECI            18395 non-null  int64
 12  DENT            18395 non-null  int64
 13  EART            18395 non-null  int64
 14  ECON            18395 non-null  int64
 15  ENER            18395 non-null  int64
 16  ENGI            18395 non-null  int64
 17  ENVI            18395 non-null  int64
 18  HEAL            18395 non-null  int64
 19  IMMU            18395 non-null  int64
 20  MATE            18395 non-null  int64
 21  MATH            18395 non-null  int64
 22  MEDI            18395 non-null  int64
 23  MULT            18395 non-null  int64
 24  NEUR            18395 non-null  int64
 25  NURS            18395 non-null  int64
 26  PHAR            18395 non-null  int64
 27  PHYS            18395 non-null  int64
 28  PSYC            18395 non-null  int64
 29  SOCI            18395 non-null  int64
 30  VETE            18395 non-null  int64
 31  title_keywords  18395 non-null  object
dtypes: float64(2), int64(27), object(3)
memory usage: 4.6+ MB

,title,keywords,affiliation_id,cited_by_count,AGRI,ARTS,BIOC,BUSI,CENG,CHEM,...,MEDI,MULT,NEUR,NURS,PHAR,PHYS,PSYC,SOCI,VETE,title_keywords
1983,Guidelines of the OIE (World organisation for ...,NaN,NaN,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Guidelines of the OIE (World organisation for ...
1984,Accreditation of veterinary inspection systems,NaN,NaN,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Accreditation of veterinary inspection systems
1985,Do you remember?,NaN,NaN,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Do you remember?
1986,The history of the Association of German Vete ...,NaN,NaN,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,The history of the Association of German Vete ...
1987,"Comparative Effect of Selenium in Wheat, Barle...",NaN,NaN,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,"Comparative Effect of Selenium in Wheat, Barle..."

In [284]:
df3 = df3.reset_index().drop(columns=['index'])

In [285]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18395 entries, 0 to 18394
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           18395 non-null  object
 1   keywords        16407 non-null  object
 2   affiliation_id  16407 non-null  float64
 3   cited_by_count  18395 non-null  float64
 4   AGRI            18395 non-null  int64
 5   ARTS            18395 non-null  int64
 6   BIOC            18395 non-null  int64
 7   BUSI            18395 non-null  int64
 8   CENG            18395 non-null  int64
 9   CHEM            18395 non-null  int64
 10  COMP            18395 non-null  int64
 11  DECI            18395 non-null  int64
 12  DENT            18395 non-null  int64
 13  EART            18395 non-null  int64
 14  ECON            18395 non-null  int64
 15  ENER            18395 non-null  int64
 16  ENGI            18395 non-null  int64
 17  ENVI            18395 non-null  int64
 18  HEAL            18395 non-null  int64
 19  IMMU            18395 non-null  int64
 20  MATE            18395 non-null  int64
 21  MATH            18395 non-null  int64
 22  MEDI            18395 non-null  int64
 23  MULT            18395 non-null  int64
 24  NEUR            18395 non-null  int64
 25  NURS            18395 non-null  int64
 26  PHAR            18395 non-null  int64
 27  PHYS            18395 non-null  int64
 28  PSYC            18395 non-null  int64
 29  SOCI            18395 non-null  int64
 30  VETE            18395 non-null  int64
 31  title_keywords  18395 non-null  object
dtypes: float64(2), int64(27), object(3)
memory usage: 4.5+ MB

In [286]:
df3.to_csv("outnow_2.csv")

In [287]:
# Check if each value in the Series is of type float and count them
float_count = df3['title_keywords'].apply(lambda x: isinstance(x, float)).sum()
print(f"Number of float values: {float_count}")

Number of float values: 0

In [288]:
data2 = pd.read_csv("outnow_2.csv").drop(columns=['Unnamed: 0'])

In [289]:
data2

,title,keywords,affiliation_id,cited_by_count,AGRI,ARTS,BIOC,BUSI,CENG,CHEM,...,MEDI,MULT,NEUR,NURS,PHAR,PHYS,PSYC,SOCI,VETE,title_keywords
0,Reduction of algal wall-growth biofilm for the...,Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...,0.0,1.0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,Reduction of algal wall-growth biofilm for the...
1,Dietary anthocyanins inhibit insulin fibril fo...,Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...,1.0,2.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Dietary anthocyanins inhibit insulin fibril fo...
2,Metformin delivery via iontophoresis based on ...,Transdermal drug delivery;κ-Carrageenan;Metformin,2.0,5.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Metformin delivery via iontophoresis based on ...
3,Experimental investigations of CO2 absorption ...,CO2 capture;CO2 absorption;Amine blends;Equili...,3.0,7.0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,Experimental investigations of CO2 absorption ...
4,High-throughput screening of highly active and...,Single-atom catalysts;Tungsten diboride;Electr...,4.0,1.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,High-throughput screening of highly active and...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18390,Guidelines of the OIE (World organisation for ...,NaN,NaN,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Guidelines of the OIE (World organisation for ...
18391,Accreditation of veterinary inspection systems,NaN,NaN,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Accreditation of veterinary inspection systems
18392,Do you remember?,NaN,NaN,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Do you remember?
18393,The history of the Association of German Vete ...,NaN,NaN,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,The history of the Association of German Vete ...
18394,"Comparative Effect of Selenium in Wheat, Barle...",NaN,NaN,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,"Comparative Effect of Selenium in Wheat, Barle..."

In [290]:
s_data2= data2[data2["AGRI"] == 1]

In [291]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(stop_words='english')
X_tfidf = tfidf_vectorizer.fit_transform(s_data2["title_keywords"])