In [141]:
import pandas as pd

In [142]:
import pandas as pd

df = pd.read_csv('data.csv')
df2 = pd.read_csv("DATA_CSV/data.csv")

In [143]:
df = df2.loc[:,['title' ,'subjects', 'keywords','affiliation_id', 'cited_by_count']]

In [144]:
df.head()

,title,subjects,keywords,affiliation_id,cited_by_count
0,Reduction of algal wall-growth biofilm for the...,BIOC;ENGI;CENG;ENVI,Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...,0,1.0
1,Dietary anthocyanins inhibit insulin fibril fo...,BIOC,Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...,1,2.0
2,Metformin delivery via iontophoresis based on ...,BIOC,Transdermal drug delivery;κ-Carrageenan;Metformin,2,5.0
3,Experimental investigations of CO2 absorption ...,CENG;CHEM;ENGI,CO2 capture;CO2 absorption;Amine blends;Equili...,3,7.0
4,High-throughput screening of highly active and...,MATE;PHYS,Single-atom catalysts;Tungsten diboride;Electr...,4,1.0

In [145]:
df.isnull().sum()

title                1
subjects             0
keywords          3762
affiliation_id       0
cited_by_count       4
dtype: int64

In [146]:
# Drop null
print(f"before: {df.shape}")
df = df.dropna()
print(f"after: {df.shape}")

before: (20174, 5)
after: (16407, 5)

## Make a dummies for Subjects

In [147]:


# Example data (replace with your actual DataFrame)
data = {
    "Subjects": df['subjects']}
df3 = pd.DataFrame(data)

# Step 1: Split the Subjects column into individual categories
df3['Subjects_split'] = df3['Subjects'].str.split(';')

# Step 2: Explode the lists into separate rows
exploded_df = df3.explode('Subjects_split')

# Step 3: Create dummy variables for the exploded column
dummy_df = pd.get_dummies(exploded_df['Subjects_split'])

# Step 4: Aggregate the dummy variables back to the original DataFrame
# Group by the original DataFrame's index
dummy_df = dummy_df.groupby(exploded_df.index).sum()

# Step 5: Combine the dummy-coded columns with the original DataFrame
df3 = pd.concat([df3, dummy_df], axis=1)

# Drop the intermediate column if you no longer need it
df3 = df3.drop(columns=['Subjects_split'])

df3

,Subjects,AGRI,ARTS,BIOC,BUSI,CENG,CHEM,COMP,DECI,DENT,...,MATH,MEDI,MULT,NEUR,NURS,PHAR,PHYS,PSYC,SOCI,VETE
0,BIOC;ENGI;CENG;ENVI,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,BIOC,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,BIOC,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,CENG;CHEM;ENGI,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,MATE;PHYS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20168,MEDI;HEAL;BIOC,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
20169,MEDI,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
20170,ENVI;ENGI,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20171,MEDI;PSYC,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
20172,EART;ENVI;AGRI,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [148]:
df3.shape

(16407, 28)

In [149]:
df.shape

(16407, 5)

In [150]:
df4 = pd.concat([df.drop(columns="subjects"), df3.drop(columns='Subjects')], axis=1)

In [151]:
df4.head()

,title,keywords,affiliation_id,cited_by_count,AGRI,ARTS,BIOC,BUSI,CENG,CHEM,...,MATH,MEDI,MULT,NEUR,NURS,PHAR,PHYS,PSYC,SOCI,VETE
0,Reduction of algal wall-growth biofilm for the...,Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...,0,1.0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Dietary anthocyanins inhibit insulin fibril fo...,Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...,1,2.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Metformin delivery via iontophoresis based on ...,Transdermal drug delivery;κ-Carrageenan;Metformin,2,5.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Experimental investigations of CO2 absorption ...,CO2 capture;CO2 absorption;Amine blends;Equili...,3,7.0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,High-throughput screening of highly active and...,Single-atom catalysts;Tungsten diboride;Electr...,4,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

## Convert keywords to vectors

In [152]:
from gensim.models import Word2Vec
import numpy as np

In [153]:
df5 = pd.DataFrame()
df5["Keywords"] = df4['keywords']
df5.head()
df5.isnull().sum()

Keywords    0
dtype: int64

In [154]:
# Step 1: Split sentences into words using semicolon
df5['Tokenized'] = df5["Keywords"].apply(lambda x: x.split(';'))
df5.head()

,Keywords,Tokenized
0,Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...,"[Surfactant, Microalgae, Chlorococcum, Biofilm..."
1,Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...,"[Cytotoxicity, Cyanidin, Malvidin, Anthocyanin..."
2,Transdermal drug delivery;κ-Carrageenan;Metformin,"[Transdermal drug delivery, κ-Carrageenan, Met..."
3,CO2 capture;CO2 absorption;Amine blends;Equili...,"[CO2 capture, CO2 absorption, Amine blends, Eq..."
4,Single-atom catalysts;Tungsten diboride;Electr...,"[Single-atom catalysts, Tungsten diboride, Ele..."

In [155]:

# Step 2: Train Word2Vec model
# Create a Word2Vec model using the tokenized column
w2v_model = Word2Vec(sentences=df5['Tokenized'], vector_size=5, window=5, min_count=1, workers=4)

# Step 3: Convert words to vectors
def row_to_vector(row, model):
    vectors = []
    for word in row:
        if word in model.wv:
            vectors.append(model.wv[word])
    if vectors:
        # Average the vectors for the row
        return np.mean(vectors, axis=0)
    else:
        # Return a zero vector if no words were in the vocabulary
        return np.zeros(model.vector_size)

df5['Vector'] = df5['Tokenized'].apply(lambda x: row_to_vector(x, w2v_model))

# Step 4: Save or use the vectors
print(df5[['Keywords', 'Vector']])

                                                Keywords  \
0      Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...
1      Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...
2      Transdermal drug delivery;κ-Carrageenan;Metformin
3      CO2 capture;CO2 absorption;Amine blends;Equili...
4      Single-atom catalysts;Tungsten diboride;Electr...
...                                                  ...
20168  Hb Paksé;iron deficiency anemia;hemoglobinopat...
20169  cytokines;telomere length;angiogenesis;real-ti...
20170  Anaerobic digestion;Co-digestion;Alkali pre-tr...
20171         Bullying;Coping;Cognitive appraisal theory
20172  Strip footing;Numerical analysis;Finite elemen...

                                                  Vector
0      [-0.06760166, -0.06469126, -0.04960707, -0.003...
1      [0.00945443, 0.059037946, 0.024045002, -0.0450...
2      [0.06453132, -0.0024380635, -0.08916724, -0.01...
3      [0.0860805, -0.033275552, -0.03353564, 0.00730...
4      [0.0011191771, 0.025369579, -0.021136485, -0.0...
...                                                  ...
20168  [-0.00373585, 0.030272579, 0.009273295, 0.0286...
20169  [-0.035315298, 0.023952471, -0.025683135, -0.0...
20170  [-0.0024151057, -0.0018578663, 0.040095646, 0....
20171  [0.1086219, -0.0129690645, 0.05505474, 0.01861...
20172  [0.03118673, -0.060503613, 0.04793791, -0.0567...

[16407 rows x 2 columns]

In [156]:
df5.head()

,Keywords,Tokenized,Vector
0,Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...,"[Surfactant, Microalgae, Chlorococcum, Biofilm...","[-0.06760166, -0.06469126, -0.04960707, -0.003..."
1,Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...,"[Cytotoxicity, Cyanidin, Malvidin, Anthocyanin...","[0.00945443, 0.059037946, 0.024045002, -0.0450..."
2,Transdermal drug delivery;κ-Carrageenan;Metformin,"[Transdermal drug delivery, κ-Carrageenan, Met...","[0.06453132, -0.0024380635, -0.08916724, -0.01..."
3,CO2 capture;CO2 absorption;Amine blends;Equili...,"[CO2 capture, CO2 absorption, Amine blends, Eq...","[0.0860805, -0.033275552, -0.03353564, 0.00730..."
4,Single-atom catalysts;Tungsten diboride;Electr...,"[Single-atom catalysts, Tungsten diboride, Ele...","[0.0011191771, 0.025369579, -0.021136485, -0.0..."

In [157]:
df5 = df5.drop(columns=['Tokenized', 'Keywords'])

In [158]:

vector_expanded = pd.DataFrame(df5['Vector'].tolist(), index=df5.index)
vector_expanded.columns = [f'Vector_{i}' for i in range(vector_expanded.shape[1])]
df_expanded = pd.concat([df5.drop(columns=['Vector']), vector_expanded], axis=1)
df_expanded

       Vector_0  Vector_1  Vector_2  Vector_3  Vector_4
0     -0.067602 -0.064691 -0.049607 -0.003725 -0.013259
1      0.009454  0.059038  0.024045 -0.045067  0.095401
2      0.064531 -0.002438 -0.089167 -0.017470  0.116981
3      0.086080 -0.033276 -0.033536  0.007309  0.000613
4      0.001119  0.025370 -0.021136 -0.024226  0.019300
...         ...       ...       ...       ...       ...
20168 -0.003736  0.030273  0.009273  0.028635 -0.026650
20169 -0.035315  0.023952 -0.025683 -0.065630 -0.072451
20170 -0.002415 -0.001858  0.040096  0.052524  0.094599
20171  0.108622 -0.012969  0.055055  0.018619 -0.065628
20172  0.031187 -0.060504  0.047938 -0.056769  0.031449

[16407 rows x 5 columns]

In [159]:
df6 = pd.concat([df4, df_expanded], axis=1)
df6.head()

,title,keywords,affiliation_id,cited_by_count,AGRI,ARTS,BIOC,BUSI,CENG,CHEM,...,PHAR,PHYS,PSYC,SOCI,VETE,Vector_0,Vector_1,Vector_2,Vector_3,Vector_4
0,Reduction of algal wall-growth biofilm for the...,Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...,0,1.0,0,0,1,0,1,0,...,0,0,0,0,0,-0.067602,-0.064691,-0.049607,-0.003725,-0.013259
1,Dietary anthocyanins inhibit insulin fibril fo...,Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...,1,2.0,0,0,1,0,0,0,...,0,0,0,0,0,0.009454,0.059038,0.024045,-0.045067,0.095401
2,Metformin delivery via iontophoresis based on ...,Transdermal drug delivery;κ-Carrageenan;Metformin,2,5.0,0,0,1,0,0,0,...,0,0,0,0,0,0.064531,-0.002438,-0.089167,-0.017470,0.116981
3,Experimental investigations of CO2 absorption ...,CO2 capture;CO2 absorption;Amine blends;Equili...,3,7.0,0,0,0,0,1,1,...,0,0,0,0,0,0.086080,-0.033276,-0.033536,0.007309,0.000613
4,High-throughput screening of highly active and...,Single-atom catalysts;Tungsten diboride;Electr...,4,1.0,0,0,0,0,0,0,...,0,1,0,0,0,0.001119,0.025370,-0.021136,-0.024226,0.019300

In [160]:
df6.to_csv("outnow.csv")

In [173]:
df6.iloc[:, 4:31]

,AGRI,ARTS,BIOC,BUSI,CENG,CHEM,COMP,DECI,DENT,EART,...,MATH,MEDI,MULT,NEUR,NURS,PHAR,PHYS,PSYC,SOCI,VETE
0,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20168,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
20169,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
20170,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20171,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
20172,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0