In [2]:
import pandas as pd

In [3]:
import pandas as pd

df = pd.read_csv('data.csv')
df2 = pd.read_csv("DATA_CSV/data.csv")

In [4]:
df = df2.loc[:,['title' ,'subjects', 'keywords','affiliation_id', 'cited_by_count']]

In [5]:
df.head()

,title,subjects,keywords,affiliation_id,cited_by_count
0,Reduction of algal wall-growth biofilm for the...,BIOC;ENGI;CENG;ENVI,Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...,0,1.0
1,Dietary anthocyanins inhibit insulin fibril fo...,BIOC,Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...,1,2.0
2,Metformin delivery via iontophoresis based on ...,BIOC,Transdermal drug delivery;κ-Carrageenan;Metformin,2,5.0
3,Experimental investigations of CO2 absorption ...,CENG;CHEM;ENGI,CO2 capture;CO2 absorption;Amine blends;Equili...,3,7.0
4,High-throughput screening of highly active and...,MATE;PHYS,Single-atom catalysts;Tungsten diboride;Electr...,4,1.0

In [6]:
df.isnull().sum()

title                1
subjects             0
keywords          3762
affiliation_id       0
cited_by_count       4
dtype: int64

In [7]:
# Drop null
print(f"before: {df.shape}")
df = df.dropna()
print(f"after: {df.shape}")

before: (20174, 5)
after: (16407, 5)

## Make a dummies for Subjects

In [8]:


# Example data (replace with your actual DataFrame)
data = {
    "Subjects": df['subjects']}
df3 = pd.DataFrame(data)

# Step 1: Split the Subjects column into individual categories
df3['Subjects_split'] = df3['Subjects'].str.split(';')

# Step 2: Explode the lists into separate rows
exploded_df = df3.explode('Subjects_split')

# Step 3: Create dummy variables for the exploded column
dummy_df = pd.get_dummies(exploded_df['Subjects_split'])

# Step 4: Aggregate the dummy variables back to the original DataFrame
# Group by the original DataFrame's index
dummy_df = dummy_df.groupby(exploded_df.index).sum()

# Step 5: Combine the dummy-coded columns with the original DataFrame
df3 = pd.concat([df3, dummy_df], axis=1)

# Drop the intermediate column if you no longer need it
df3 = df3.drop(columns=['Subjects_split'])

df3

,Subjects,AGRI,ARTS,BIOC,BUSI,CENG,CHEM,COMP,DECI,DENT,...,MATH,MEDI,MULT,NEUR,NURS,PHAR,PHYS,PSYC,SOCI,VETE
0,BIOC;ENGI;CENG;ENVI,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,BIOC,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,BIOC,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,CENG;CHEM;ENGI,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,MATE;PHYS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20168,MEDI;HEAL;BIOC,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
20169,MEDI,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
20170,ENVI;ENGI,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20171,MEDI;PSYC,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
20172,EART;ENVI;AGRI,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df3.shape

(16407, 28)

In [10]:
df.shape

(16407, 5)

In [11]:
df4 = pd.concat([df.drop(columns="subjects"), df3.drop(columns='Subjects')], axis=1)

In [12]:
df4.head()

,title,keywords,affiliation_id,cited_by_count,AGRI,ARTS,BIOC,BUSI,CENG,CHEM,...,MATH,MEDI,MULT,NEUR,NURS,PHAR,PHYS,PSYC,SOCI,VETE
0,Reduction of algal wall-growth biofilm for the...,Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...,0,1.0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Dietary anthocyanins inhibit insulin fibril fo...,Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...,1,2.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Metformin delivery via iontophoresis based on ...,Transdermal drug delivery;κ-Carrageenan;Metformin,2,5.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Experimental investigations of CO2 absorption ...,CO2 capture;CO2 absorption;Amine blends;Equili...,3,7.0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,High-throughput screening of highly active and...,Single-atom catalysts;Tungsten diboride;Electr...,4,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

## Convert keywords to vectors

In [13]:
from gensim.models import Word2Vec
import numpy as np

In [14]:
df5 = pd.DataFrame()
df5["Keywords"] = df4['keywords']
df5.head()
df5.isnull().sum()

Keywords    0
dtype: int64

In [15]:
# Step 1: Split sentences into words using semicolon
df5['Tokenized'] = df5["Keywords"].apply(lambda x: x.split(';'))
df5.head()

,Keywords,Tokenized
0,Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...,"[Surfactant, Microalgae, Chlorococcum, Biofilm..."
1,Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...,"[Cytotoxicity, Cyanidin, Malvidin, Anthocyanin..."
2,Transdermal drug delivery;κ-Carrageenan;Metformin,"[Transdermal drug delivery, κ-Carrageenan, Met..."
3,CO2 capture;CO2 absorption;Amine blends;Equili...,"[CO2 capture, CO2 absorption, Amine blends, Eq..."
4,Single-atom catalysts;Tungsten diboride;Electr...,"[Single-atom catalysts, Tungsten diboride, Ele..."

In [16]:

# Step 2: Train Word2Vec model
# Create a Word2Vec model using the tokenized column
w2v_model = Word2Vec(sentences=df5['Tokenized'], vector_size=5, window=5, min_count=1, workers=4)

# Step 3: Convert words to vectors
def row_to_vector(row, model):
    vectors = []
    for word in row:
        if word in model.wv:
            vectors.append(model.wv[word])
    if vectors:
        # Average the vectors for the row
        return np.mean(vectors, axis=0)
    else:
        # Return a zero vector if no words were in the vocabulary
        return np.zeros(model.vector_size)

df5['Vector'] = df5['Tokenized'].apply(lambda x: row_to_vector(x, w2v_model))

# Step 4: Save or use the vectors
print(df5[['Keywords', 'Vector']])

                                                Keywords  \
0      Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...
1      Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...
2      Transdermal drug delivery;κ-Carrageenan;Metformin
3      CO2 capture;CO2 absorption;Amine blends;Equili...
4      Single-atom catalysts;Tungsten diboride;Electr...
...                                                  ...
20168  Hb Paksé;iron deficiency anemia;hemoglobinopat...
20169  cytokines;telomere length;angiogenesis;real-ti...
20170  Anaerobic digestion;Co-digestion;Alkali pre-tr...
20171         Bullying;Coping;Cognitive appraisal theory
20172  Strip footing;Numerical analysis;Finite elemen...

                                                  Vector
0      [-0.06704539, -0.0642321, -0.05048611, -0.0030...
1      [0.010577569, 0.059981655, 0.024150163, -0.044...
2      [0.06549356, -0.0015602013, -0.08874636, -0.01...
3      [0.08687665, -0.034234952, -0.0329837, 0.00627...
4      [0.0009677842, 0.025553394, -0.021108722, -0.0...
...                                                  ...
20168  [-0.003485872, 0.030025404, 0.00884072, 0.0285...
20169  [-0.034081083, 0.024404887, -0.025814682, -0.0...
20170  [-0.0022169366, -0.0018071837, 0.040262043, 0....
20171  [0.10906825, -0.012611769, 0.054669067, 0.0184...
20172  [0.031381093, -0.060206413, 0.04857781, -0.056...

[16407 rows x 2 columns]

In [17]:
df5.head()

,Keywords,Tokenized,Vector
0,Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...,"[Surfactant, Microalgae, Chlorococcum, Biofilm...","[-0.06704539, -0.0642321, -0.05048611, -0.0030..."
1,Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...,"[Cytotoxicity, Cyanidin, Malvidin, Anthocyanin...","[0.010577569, 0.059981655, 0.024150163, -0.044..."
2,Transdermal drug delivery;κ-Carrageenan;Metformin,"[Transdermal drug delivery, κ-Carrageenan, Met...","[0.06549356, -0.0015602013, -0.08874636, -0.01..."
3,CO2 capture;CO2 absorption;Amine blends;Equili...,"[CO2 capture, CO2 absorption, Amine blends, Eq...","[0.08687665, -0.034234952, -0.0329837, 0.00627..."
4,Single-atom catalysts;Tungsten diboride;Electr...,"[Single-atom catalysts, Tungsten diboride, Ele...","[0.0009677842, 0.025553394, -0.021108722, -0.0..."

In [18]:
df5 = df5.drop(columns=['Tokenized', 'Keywords'])

In [19]:

vector_expanded = pd.DataFrame(df5['Vector'].tolist(), index=df5.index)
vector_expanded.columns = [f'Vector_{i}' for i in range(vector_expanded.shape[1])]
df_expanded = pd.concat([df5.drop(columns=['Vector']), vector_expanded], axis=1)
df_expanded

       Vector_0  Vector_1  Vector_2  Vector_3  Vector_4
0     -0.067045 -0.064232 -0.050486 -0.003025 -0.014799
1      0.010578  0.059982  0.024150 -0.044567  0.095042
2      0.065494 -0.001560 -0.088746 -0.016904  0.117628
3      0.086877 -0.034235 -0.032984  0.006273  0.001948
4      0.000968  0.025553 -0.021109 -0.024607  0.018585
...         ...       ...       ...       ...       ...
20168 -0.003486  0.030025  0.008841  0.028538 -0.026159
20169 -0.034081  0.024405 -0.025815 -0.066136 -0.071316
20170 -0.002217 -0.001807  0.040262  0.052669  0.094555
20171  0.109068 -0.012612  0.054669  0.018448 -0.064985
20172  0.031381 -0.060206  0.048578 -0.056836  0.031798

[16407 rows x 5 columns]

In [20]:
df6 = pd.concat([df4, df_expanded], axis=1)
df6.head()

,title,keywords,affiliation_id,cited_by_count,AGRI,ARTS,BIOC,BUSI,CENG,CHEM,...,PHAR,PHYS,PSYC,SOCI,VETE,Vector_0,Vector_1,Vector_2,Vector_3,Vector_4
0,Reduction of algal wall-growth biofilm for the...,Surfactant;Microalgae;Chlorococcum;Biofilm;Pho...,0,1.0,0,0,1,0,1,0,...,0,0,0,0,0,-0.067045,-0.064232,-0.050486,-0.003025,-0.014799
1,Dietary anthocyanins inhibit insulin fibril fo...,Cytotoxicity;Cyanidin;Malvidin;Anthocyanins;In...,1,2.0,0,0,1,0,0,0,...,0,0,0,0,0,0.010578,0.059982,0.024150,-0.044567,0.095042
2,Metformin delivery via iontophoresis based on ...,Transdermal drug delivery;κ-Carrageenan;Metformin,2,5.0,0,0,1,0,0,0,...,0,0,0,0,0,0.065494,-0.001560,-0.088746,-0.016904,0.117628
3,Experimental investigations of CO2 absorption ...,CO2 capture;CO2 absorption;Amine blends;Equili...,3,7.0,0,0,0,0,1,1,...,0,0,0,0,0,0.086877,-0.034235,-0.032984,0.006273,0.001948
4,High-throughput screening of highly active and...,Single-atom catalysts;Tungsten diboride;Electr...,4,1.0,0,0,0,0,0,0,...,0,1,0,0,0,0.000968,0.025553,-0.021109,-0.024607,0.018585

In [21]:
df6.to_csv("outnow.csv")

In [22]:
df6.iloc[:, 4:31]

,AGRI,ARTS,BIOC,BUSI,CENG,CHEM,COMP,DECI,DENT,EART,...,MATH,MEDI,MULT,NEUR,NURS,PHAR,PHYS,PSYC,SOCI,VETE
0,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20168,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
20169,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
20170,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20171,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
20172,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df_com = df6.loc[df6["COMP"] == 1]

In [32]:
df_com.iloc[552]

title             Optimal Stabilization for Long-Term Storage of...
keywords          CRISPR/Cas12a;SARS-CoV-2;Lyophilization;Isothe...
affiliation_id                                                 6623
cited_by_count                                                  0.0
AGRI                                                              0
ARTS                                                              0
BIOC                                                              1
BUSI                                                              0
CENG                                                              0
CHEM                                                              1
COMP                                                              1
DECI                                                              0
DENT                                                              0
EART                                                              0
ECON                                                              0
ENER                                                              0
ENGI                                                              0
ENVI                                                              0
HEAL                                                              0
IMMU                                                              0
MATE                                                              0
MATH                                                              0
MEDI                                                              0
MULT                                                              1
NEUR                                                              0
NURS                                                              0
PHAR                                                              0
PHYS                                                              1
PSYC                                                              0
SOCI                                                              0
VETE                                                              0
Vector_0                                                  -0.009296
Vector_1                                                    0.10484
Vector_2                                                   0.071922
Vector_3                                                  -0.019989
Vector_4                                                   0.024611
Name: 6615, dtype: object

In [33]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()